# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pycharm dictionary
.idea/dictionaries

# dumps
data_analysis/latest-all.json
data_analysis/output/reduced_items
data_analysis/output/reduced_classes
data_analysis/output/root_classes
data_analysis/output/root_class_characteristics
